<nav class="navbar">
    <div class="brand">PulsePoint</div>
    <div class="links">
        <a routerLink="/Home">Home</a>

        <!-- Dropdown for Login -->
        <div class="dropdown">
            <button class="dropbtn">Login</button>
            <div class="dropdown-content">
                <a routerLink="/donor-login">Donor Login</a>
                <a routerLink="/receiver-login">Receiver Login</a>
            </div>
        </div>

        <a routerLink="/Contactus">Contact us</a>
        <a routerLink="/Dashboard">Dashboard</a>
    </div>
</nav>