<div class="navbar">
    <div class="brand">PulsePoint</div>
    <div class="nav-links">
        <a href="#">Home</a>
      
        <div class="dropdown">
            <button class="dropbtn">Login</button>
            <div class="dropdown-content">
                <a href="#">Donor Login</a>
                <a href="#">Receiver Login</a>
                <a href="#">Bank Login</a>
            </div>
        </div>
          
          

        <a href="#">Contact us</a>
        <a href="#">Dashboard</a>
    </div>
</div>