<!-- <app-carousel></app-carousel>
<app-services></app-services>
<app-about-us></app-about-us>
<app-blooddonation></app-blooddonation>
<app-donation-process></app-donation-process>
<app-marque></app-marque>
<app-eventandcollaboration></app-eventandcollaboration>
<app-footer></app-footer> -->

<app-carousel></app-carousel>
<app-services></app-services>
<app-about-us></app-about-us><br>
<app-blooddonation></app-blooddonation>
<app-donation-process></app-donation-process><br>
<app-marque></app-marque><br><br>
<app-eventandcollaboration></app-eventandcollaboration><br><br>
<app-footer></app-footer>