<div class="container">
    <form class="login-container">
        <div class="input-group">
            <label class="input-label">Email</label>
            <input type="email" class="input-field" placeholder="Enter your email" required />
        </div>

        <div class="input-group">
            <label class="input-label">Password</label>
            <input type="password" class="input-field" placeholder="Enter your password" required />
        </div>

        <a class="forgot-password" href="#">Forgot Password?</a>

        <button type="submit" class="btn-login">Login</button>

        <div class="footer-text">
            New user? <a routerLink="/reciver-signup">Create an account</a>
        </div>
    </form>
</div>